import os
import yaml
import time
import glob
import telegram
from doit.action import CmdAction
from doit.reporter import ConsoleReporter

backup_config = {}
with open(".rclone.yml", "r") as f:
    backup_config = yaml.load(f)

rconfig = backup_config.get('rclone')
dconfig = backup_config.get('database')
tconfig = backup_config.get('telegram')

DB_NAME = dconfig.get('name')
DB_USER = dconfig.get('user')
DB_PASS = dconfig.get('password')
DB_DUMPDIR = os.path.expanduser(dconfig.get('dir'))
DB_DRIVER = dconfig.get('provider')
DB_ARCHIVE = dconfig.get('archive', 'none')
DB_RETENTION = dconfig.get('retention_days')
TELEGRAM_TOKEN = tconfig.get('token')
TELEGRAM_CHATID = tconfig.get('chatid')
TELEGRAM_PROXY = tconfig.get('proxy', '')

ARCHIVATOR = {
    'gzip': {
        'pack': '| gzip',
        'unpack': 'gunzip <'
    },
    'none': {
        'pack': '',
        'unpack': 'cat',
    }
}

DB_DUMPFILE = os.path.join(
    DB_DUMPDIR, 
    dconfig.get('filename') % time.strftime(dconfig.get('dateformat'))
)

if not os.path.exists(DB_DUMPDIR):
    os.makedirs(DB_DUMPDIR)


class TelegramReporter(ConsoleReporter):
    """Report only internal errors from doit"""
    desc = 'report only internal errors from doit'

    def __init__(self, outstream, options):
        ConsoleReporter.__init__(self, outstream, options)
        trequest = telegram.utils.request.Request(proxy_url=TELEGRAM_PROXY)
        self.bot = telegram.Bot(token=TELEGRAM_TOKEN, request=trequest)
        self.chat_id = TELEGRAM_CHATID

    def write(self, text):
        ConsoleReporter.write(self, text)
        if text.strip():
            self.bot.send_message(chat_id=self.chat_id,
                                  parse_mode='Markdown',
                                  text=r'```bash %s```' % text)

    def _just_pass(self, *args):
        """over-write base to do nothing"""
        pass

    get_status = execute_task = add_success \
        = skip_uptodate = skip_ignore = teardown_task \
        = _just_pass


DOIT_CONFIG = {
    'reporter': TelegramReporter,
    'verbosity': 0,
}

class create_rclone:
    def __init__(self, action, src, dest, exclude):
        self.action = action
        self.src = src
        self.dest = dest
        self.exclude = ' '.join(
            ['--exclude=' + e for e in exclude]
        )

    def __call__(self):
        return "{{ rclone_binary }} {} {} {} {}".format(self.exclude, self.action, self.src, self.dest)

def task_backup():
    """create DB dump and backup it with direcoty to destination server"""

    def cleanup_db_oldfiles():
        return "find {} -type f -mtime +{} -print0 | xargs -0 rm -f".format(DB_DUMPDIR, DB_RETENTION)

    yield {
        'name': 'db_cleanup_' + DB_NAME,
        'actions': [CmdAction(cleanup_db_oldfiles)],
        'verbosity': 2,
    }

    def create_db_dump_cmd(targets):
        if "postgresql" == DB_DRIVER:
            return "pg_dump -U {} -h localhost -Fc {} > {}".format(DB_USER, DB_NAME, targets[0])
        elif "mysql" == DB_DRIVER:
            return "mysqldump -u {} -p{} {} {} > {}".format(
                DB_USER, 
                DB_PASS,
                DB_NAME,
                ARCHIVATOR[DB_ARCHIVE]['pack'],
                targets[0],
            )
        else:
            "echo Unsupported database driver {}; exit 10".format(DB_DRIVER)

    yield {
        'name': 'db_dump_' + DB_NAME,
        'actions': [ CmdAction(create_db_dump_cmd) ],
        'targets': [ DB_DUMPFILE ],
        'verbosity': 2,
    }

    for location in rconfig['locations']:
        if 'action' not in location:
            location['action'] = rconfig['action']
        if 'storage' not in location:
            location['storage'] = rconfig['storage']

        yield {
            'name': 'rclone-backup' + location['local'],
            'actions': [CmdAction(create_rclone(
                location['action'], 
                location['local'], 
                os.path.join(location['storage'], location['remote']),
                list(set(rconfig.get('exclude_backup', []) +
                         rconfig.get('exclude', [])))
            ))],
            'verbosity': 2,
            }

def task_restore():
    """sync backup directory from remote server and restore DB"""

    for location in rconfig['locations']:
        if 'action' not in location:
            location['action'] = rconfig['action']
        if 'storage' not in location:
            location['storage'] = rconfig['storage']

        yield {
            'name': 'rclone-restore' + location['local'],
            'actions': [CmdAction(create_rclone(
                location['action'], 
                os.path.join(location['storage'], location['remote']),
                location['local'],
                list(set(rconfig.get('exclude_restore', []) +
                         rconfig.get('exclude', [])))
            ))],
            'verbosity': 2,
        }

    def create_db_restore_cmd(dependencies):
        # * means all if need specific format then *.csv
        db_backup_files = glob.glob(os.path.join(DB_DUMPDIR, '*'))
        filename = max(db_backup_files, key=os.path.getctime)
        if "postgresql" == DB_DRIVER:
            return "pg_restore -U {} -d {} -n public -h localhost -Fc {}".format(DB_USER, DB_NAME, filename)
        elif "mysql" == DB_DRIVER:
            return "{} {} | mysql -u {} -p{} {}".format(
                ARCHIVATOR[DB_ARCHIVE]['unpack'],
                filename,
                DB_USER,
                DB_PASS,
                DB_NAME,
            )
        else:
            "echo Unsupported database driver {}; exit 10".format(DB_DRIVER)

    yield {
        'name': 'db_restore',
        'actions': [CmdAction(create_db_restore_cmd)],
    }
